@import '../abstracts/variables';
@import '../abstracts/fonts';
@import '../abstracts/colors';
@import '../abstracts/breakpoints';

// Headers

.header{

    //display
    display: block;

    //Box
    width: 100%;
    height: $header-h;
    padding: $header-padding;
    padding-left: 0px;
    margin: 0px;
    z-index: $header-z;

    //Position
    position: fixed;
    box-sizing: border-box;

    //Fonts
    @include font-default;
    @include font-xl;
    @include font-space-l;

    //Colors
    color: $color-black;
    background-color: $color-white;

}

.header-ads{
    z-index: $header-ads-z;
}

.header-navbar{

    // display

    // box
    width: 100%;
    max-width: $container-w;
    margin: 0 auto;

    background-color: $header-bg;
    z-index: $header-z;
}
