<article class="cart" *ngIf="isOpen$ | async">
    <section class="cart__header">
        <h2>// Tu Carrito </h2> <h1>Bubble Lover</h1>
        <div><img src="../../../../assets/images/cart/X_CARRITO.png" alt="Close Icon" (click)="doToogle()"></div>

    </section>
    <section class="cart__products">
        <ul>
            <ng-container *ngFor="let product of (products$ | async)">
                <li  class="cart__product">
                    <app-card-item-product
                        [id]="product.id"
                        [brand]="product.brand"
                        [title]="product.title"
                        [price]="product.price"
                        [discount]="product.discount"
                        [quantity]="product.quantity"
                        [image]="product.image"
                    ></app-card-item-product>
                </li>
            </ng-container>
        </ul>
    </section>
    <section class="cart__progress_bar"></section>
    <section class="cart__summary"></section>
    <section class="cart__payment_btn"></section>
</article>
