<app-layout-basic
    [title]="'Home'"
    [breadcrumbs]="breadcrumbs">
    <main>
        <section class="hero">
            <img src="../../../assets/images/home/home-cover-placeholder.png" alt="hero">
        </section>
        <section class="duo">
            <app-product-card *ngIf="product && product.id"
                [id]="product.id"
                [brand]="product.brand"
                [title]="product.title"
                [price]="product.price"
                [discount]="product.discount"
                [image]="product.image1_src"
            ></app-product-card>
        </section>
        <section class="box">

        </section>
        <section class="banner">

        </section>
        <section class="news">

        </section>
    </main>
</app-layout-basic>
