
$color-red: rgb(245, 107, 107);
$color-pink: #f4bece;
$color-yellow:  #fff4c5;
$color-blue: #c1e9f4;
$color-white: #fff;

$color-gray: #989898;
$color-black: #333333;
$color-dark-gray : #525252;
$color-clear-gray: #cccccc;

$color-mega-clear-gray: #e6e6e6;
