@import "colors";
@import "variables";

@mixin font-default {
  font-family: "Helvetica";
  font-size: 14px;
  font-weight: 300;
  color: $color-black;
  line-height: 120%;
}

@mixin font-xxs {
  font-size: $f-size-xxs;
}
@mixin font-xs {
  font-size: $f-size-xs;
}
@mixin font-s {
  font-size: $f-size-s;
}
@mixin font-m {
  font-size: $f-size-m;
}
@mixin font-l {
  font-size: $f-size-l;
}
@mixin font-xl {
  font-size: $f-size-xl;
}

@mixin font-space-xs {
  letter-spacing: 0px;
}
@mixin font-space-s {
  letter-spacing: 1px;
}
@mixin font-space-m {
  letter-spacing: 2px;
}
@mixin font-space-l {
  letter-spacing: 3px;
}
@mixin font-space-xl {
  letter-spacing: 4px;
}

@mixin font-bold {
  font-weight: 600;
}

.font-super-title {
  @include font-default;
  @include font-xl;
  @include font-space-l;
}
.font-title {
  @include font-default;
  @include font-xl;
  @include font-space-l;
}
.font-subtitle {
  @include font-default;
  @include font-l;
  @include font-space-l;
}
.font-text {
  @include font-default;
  @include font-m;
  @include font-space-l;
}
