@import "colors";

@mixin font-default {
  font-family: "Helvetica";
  font-size: 14px;
  font-weight: 300;
  color: $color-black;
  line-height: 120%;
}

@mixin font-xs {
}
@mixin font-s {
}
@mixin font-m {
}
@mixin font-l {
}
@mixin font-xl {
}

@mixin font-space-xs {
  letter-spacing: 0px;
}
@mixin font-space-s {
  letter-spacing: 1px;
}
@mixin font-space-m {
  letter-spacing: 2px;
}
@mixin font-space-l {
  letter-spacing: 3px;
}
@mixin font-space-xl {
  letter-spacing: 4px;
}

.font-title {
  @include font-default;
  @include font-xl;
  @include font-space-l;
}
.font-subtitle {
  @include font-default;
  @include font-l;
  @include font-space-l;
}
.font-text {
  @include font-default;
  @include font-m;
  @include font-space-l;
}
