@import './colors';

// Sizes
$size-1: 12px;
$size-2: 14px;
$size-3: 16px;
$size-4: 18px;
$size-5: 22px;
$size-6: 26px;
$size-8: 26px;

// fonts
$font-bold: 900;
$f-size-xxs: 10px;
$f-size-xs: 12px;
$f-size-s: 14px;
$f-size-m: 16px;
$f-size-l: 18px;
$f-size-xl: 24px;
$f-size-xxl: 28px;

// container
$container-w: 2000px;

// Headers
$header-h : 45px;
$header-z : 0;
$header-ads-z : 2;
$header-nav-z : 1;
$header-bg: $color-pink;
$header-padding: 12px;

// Headers Components
$header-waves-w: 60px;

$header-bsc-w: 52px;
$header-bsc-margin-right: 12px;

$header-menu-w: 200px;
$header-menu-h: $header-h;
$header-menus-margin-left: 60px;

$header-buttons-icons-w: 26px;
$header-buttons-icons-h: 26px;

$header-menu-links-top: (-500px);


// Footer
$footer-padding: 48px;
$footer-margin: $size-4;
$footer-logo-w: 180px;
$footer-social-logos-w: 24px;
$footer-social-margin-left: 48px;
$footer-social-space-between: 48px;
