<div class="page">
    <header class="page-header">
        <app-header-ads></app-header-ads>
        <app-header-navbar></app-header-navbar>
        <app-header-admin></app-header-admin>
    </header>
    <aside class="page-sidebar">
        <app-sidebar-cart></app-sidebar-cart>
    </aside>
    <div class="page-container">
        <app-breadcrumbs [breadcrumbs]="breadcrumbs" *ngIf="breadcrumbs && breadcrumbs.length > 0"></app-breadcrumbs>
        <ng-content select="main"></ng-content>
    </div>
    <footer class="page-footer">
        <app-footer></app-footer>
    </footer>
</div>
