<app-layout-basic
    [title]="'Products'"
    [breadcrumbs]="breadcrumbs">
    <main>
        <section class="product">
            <div class="product__gallery">
                <div class="product__thumbs"><img></div>
                <div class="product__thumbs"><img></div>
                <div class="product__thumbs"><img></div>
                <div class="product__thumbs"><img></div>
                <div class="product__thumbs">
                    <img>
                    <div class="product__discount_tag"></div>
                </div>
            </div>
            <div class="product__info">
                <div class="product__name"></div>
                <div class="product__price"></div>
                <div class="product__size"></div>
                <div class="product__buttons">
                    <div class="product__button product--add-to-cart"></div>
                    <div class="product__button product--add-to-favs"></div>
                </div>
                <div class="product__tabs">

                </div>

            </div>
        </section>
    </main>
</app-layout-basic>
