
@import '../../../../styles/abstracts/colors';
@import '../../../../styles/abstracts/fonts';

.breadcrumbs{
      //Fonts
      @include font-default;
      @include font-xs;
      @include font-space-xs;

      //Box
      display: block;
      width: 100%;

      //Box
      padding-top: 1em;
      padding-bottom: 1em;
}
.breadcrumbs__items{
    display: flex;
    align-content: flex-start;
    max-width: $container-insde-w;
    margin: 0 auto;
}
.breadcrumbs__item{
    padding-right: 0em;
}

.breadcrumbs__item:not(:first-child):before{
    content: "/";
    margin-left: 1em;
    margin-right: 1em;
}

.breadcrumbs__item.active{
    @include font-bold;
}
.breadcrumbs__item a{
    color: inherit;
    text-decoration: none;
}
